In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [6]:
df = pd.read_csv('/content/drive/MyDrive/Trabalho Data Science 2 Bim/FIFA_data.csv',
                    sep=',', encoding='UTF-8')

In [5]:
df.head()

,ï»¿,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,â¬226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,â¬127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,â¬228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,â¬138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,â¬196.4M

In [7]:
df = df.drop("Unnamed: 0", axis='columns')

In [8]:
df.head()

,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,https://cdn.sofifa.org/teams/2/light/241.png,...,96.0,33.0,28.0,26.0,6.0,11.0,15.0,14.0,8.0,€226.5M
1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,https://cdn.sofifa.org/teams/2/light/45.png,...,95.0,28.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0,€127.1M
2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,https://cdn.sofifa.org/teams/2/light/73.png,...,94.0,27.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0,€228.1M
3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,https://cdn.sofifa.org/teams/2/light/11.png,...,68.0,15.0,21.0,13.0,90.0,85.0,87.0,88.0,94.0,€138.6M
4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,https://cdn.sofifa.org/teams/2/light/10.png,...,88.0,68.0,58.0,51.0,15.0,13.0,5.0,10.0,13.0,€196.4M

In [22]:
df = df.drop(['Jersey Number','Joined','Loaned From','Contract Valid Until','LS','ST',
              ], axis=1)

In [23]:
df.head()

,ID,Name,Age,Overall,Club,Value,Wage,Preferred Foot,Height,Weight
0,158023,L. Messi,31,94,FC Barcelona,€110.5M,€565K,Left,5'7,159lbs
1,20801,Cristiano Ronaldo,33,94,Juventus,€77M,€405K,Right,6'2,183lbs
2,190871,Neymar Jr,26,92,Paris Saint-Germain,€118.5M,€290K,Right,5'9,150lbs
3,193080,De Gea,27,91,Manchester United,€72M,€260K,Right,6'4,168lbs
4,192985,K. De Bruyne,27,91,Manchester City,€102M,€355K,Right,5'11,154lbs

In [25]:
df.isnull().sum()

ID                  0
Name                0
Age                 0
Overall             0
Club              241
Value               0
Wage                0
Preferred Foot     48
Height             48
Weight             48
dtype: int64

In [26]:
df[df.isna().any(axis=1)]

,ID,Name,Age,Overall,Club,Value,Wage,Preferred Foot,Height,Weight
452,207439,L. Paredes,24,80,NaN,€ 0,€ 0,Right,5'11,165lbs
538,156713,A. Granqvist,33,80,NaN,€ 0,€ 0,Right,6'4,185lbs
568,229909,A. Lunev,26,79,NaN,€ 0,€ 0,Right,6'2,176lbs
677,187347,I. Smolnikov,29,79,NaN,€ 0,€ 0,Right,5'10,154lbs
874,187607,A. Dzyuba,29,78,NaN,€ 0,€ 0,Right,6'5,201lbs
...,...,...,...,...,...,...,...,...,...,...
17197,245164,V. Kaith,21,55,NaN,€ 0,€ 0,Right,6'2,176lbs
17215,243131,K. Taimi,26,55,NaN,€ 0,€ 0,Right,6'4,187lbs
17339,233526,S. Passi,23,54,NaN,€ 0,€ 0,Right,5'9,143lbs
17436,236452,D. Lalhlimpuia,20,54,NaN,€ 0,€ 0,Right,6'0,168lbs
17539,234508,C. Singh,21,53,NaN,€ 0,€ 0,Right,6'3,174lbs

In [27]:
df.dropna(inplace=True)

df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [ID, Name, Age, Overall, Club, Value, Wage, Preferred Foot, Height, Weight]
Index: []

In [28]:
df.head()

,ID,Name,Age,Overall,Club,Value,Wage,Preferred Foot,Height,Weight
0,158023,L. Messi,31,94,FC Barcelona,€110.5M,€565K,Left,5'7,159lbs
1,20801,Cristiano Ronaldo,33,94,Juventus,€77M,€405K,Right,6'2,183lbs
2,190871,Neymar Jr,26,92,Paris Saint-Germain,€118.5M,€290K,Right,5'9,150lbs
3,193080,De Gea,27,91,Manchester United,€72M,€260K,Right,6'4,168lbs
4,192985,K. De Bruyne,27,91,Manchester City,€102M,€355K,Right,5'11,154lbs

In [29]:
df.isnull().sum()

ID                0
Name              0
Age               0
Overall           0
Club              0
Value             0
Wage              0
Preferred Foot    0
Height            0
Weight            0
dtype: int64

In [30]:
df.to_csv('/content/drive/MyDrive/Trabalho Data Science 2 Bim/FIFA_data-limpo.csv', index=False)